 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>CREACION - CANDIDATO</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="container col-4" id="formcandidato">
			<br>
			<p class="h4">Creación de Candidato</p>
			<br>
	
			<form th:action="@{/candidato/guardar}" method="POST" th:object="${candidato}">
				<div class="mb-3">
					<label for="codigoId" class="form-label">CODIGO</label> 
					<input  th:field="*{codigo}" type="number" class="form-control" id="codigoId">
					<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
				</div>
				<div class="mb-3">
					<label for="nombreId" class="form-label">NOMBRE</label> 
					<input  th:field="*{nombre}" type="text" class="form-control" id="nombreId">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				<div class="mb-3">
					<label for="generoId" class="form-label">GENERO</label> 
					<input  th:field="*{genero}" type="text" class="form-control" id="generoId">
					<div class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
				</div>
				<div class="mb-3">
					<label for="descripcionId" class="form-label">DESCRIPCION</label> 
					<input th:field="*{descripcion}" type="text" class="form-control" id="descripcionId">
					<div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
				</div>
				<div class="mb-3">
					<label for="votosId" class="form-label" hidden="hidden">VOTOS</label> 
					<input th:field="*{cantVotos}" type="hidden" class="form-control" id="votosId" value=0>
				</div>
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
					 <a th:href="@{/mtvlatin/inicio}" id="cancel" class="btn btn-secondary">Cancelar</a>
	  				
				</div>
				<br>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
	
	</body>
</html>